<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style type="text/css">
    html,
    body {
      margin: 0;
      border: 0;
      width: 100%;
    }
    body {
      padding: 0 20px;
    }
    p {
      padding-top: 5px;
    }
    h1 {
      text-align: center;
    }
    
    img {
      padding: 5px;
    }
    
    .mood {
     float: right;
     margin: 4%;
    }
    
    .thumbnail {
    width: 100%;
    text-align: center;
    }
    
    .carousel-caption {
     background: rgb(115, 115, 115, .8) 
    }
    #footer {
      padding: 20px;
      color: white;
    }
    #main {
      margin: 0 auto;
    }
    
    .rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
  </style>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>3D Printing @ the Rebecca Crown Library</title>
</head>

<body>
  <div class="container">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
<header>
    <figure><img src="images/RCLibrary.jpg" alt="Rebecca Crown Library Staircase" width="100%"></figure>

    <h1>Rebecca Crown Library 3D Printing Services</h1>
</header>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1E3B6D">
      <a class="navbar-brand" href="index.html" title="home">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="tutorial.html" title="tutorial">Tutorial</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="faq.html" title="faq">FAQ</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="makeanappointment.html" title="make appt">Make an Appointment</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="faculty.html" title="faculty">For Faculty</a>
          </li>
        </ul>
      </div>
</nav>

<main>
    <div class="row">
      <div class="col-md-8" style="padding: 20px; word-wrap:break-word;">

{{content}}
              </div>

      <div class="col-sm-4" style="padding: 20px">
        <h2>Gallery</h2>
        <div class="container" style="background-color: #F65A35">
          <p>
            Here are some current projects from courses offered at Dominican University.
          </p>
          <figure><img src="https://libapps.s3.amazonaws.com/accounts/13369/images/Rex.JPG" alt="example 1" width="300"></figure>
          <br>
          <figure><img src="https://libapps.s3.amazonaws.com/accounts/13369/images/joffcrown.JPG" alt="example 2" width="300" class="rotateimg190"></figure>

        </div>
      </div>
    </div>
</main>
<footer>
    <div class="container-fluid" style="background-color: #17264D">
      <div class="row" id="footer">
        <div class="col-sm-4">
          <a>
            <figure><img src="images/DomLogo.jpg" alt="Dominican shield logo" style="width: 200px;"></figure>
          </a>
        </div>

        <div class="col-sm-4">
          <h4>Rebecca Crown Library</h4>

          <p>7900 West Division St.
            <br /> River Forest, IL 60305
            <br /> Telephone:
            <a href="tel:708-524-6500">708-524-6500</a>
          </p>
        </div>

        <div class="col-sm-4">
          <h4>Hours</h4>
          <p>Mon-Thu: 8am-7pm
            <br /> Fri: 8am-4pm
            <br /> Sat: 10am-7pm
            <br /> Sun: 10am-7pm</p>
        </div>
<div>
  <p>Copyright 2018 LIS786 April Hummons, Danielle Oakes, Karla Alba, Katherine D'Antico under the instruction of Brodie Austin</p>
</div>
      </div>
    </div>
  </footer>
  </div>
</body>
</html>
